.so1 { 
    height: 10vh;
    width: 100%;
    color:floralwhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;

}
.so2 {
    height: 50vh;
    width: 80%;
    color:floralwhite;
    font-size: 2vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 35px 150px;
}
